body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-image: url(./background\ \(6\).jpg) ;
    background-size: 1600px;
    background-repeat: no-repeat;
}

header {
  background-color: wheat;
  background-image: linear-gradient(wheat , rgb(231, 224, 224), wheat);

  height: 80px;
  display: flex;
  width: 100%;
}

header ul {
  list-style-type: none;
  display: inline-block;
  width: 50%;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

header span {
  color: red;
  font-size: 36px;
}

.search {
  width: 50%;
}

.search-bar {
  display: flex;
  justify-content: end;
  padding: 25px;
}

.search input {
  border-radius: 5px;
  width: 60%;
  font-size: 18px;
  padding: 2px 10px;
  height: 24px;
  margin-right: 2px;
}

.search button {
  width: 50px;
  height: 30px;
  background-color: rgba(255, 228, 196, 0);
  border-radius: 5px;
  padding: 7px;
}

.search button:hover {
  background-color: rgb(180, 105, 14);
}

nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin: 0 20px;
  padding: auto;
}

nav a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 18px;
}

nav a:hover {
  background-color: antiquewhite;
  color: black;
}

.central {
  display: flex;
}

.left-section {
  background-color: bisque;
  width: 300px;
  height: 600px;
}

.main-section {
  
  width: 60%;
  margin: auto;
  display: flex;
}

.cards-main {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 280px;
  height: 300px;
  background-color: antiquewhite;
  border: 1px solid wheat;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 1s;
}

.cards:hover {
  box-shadow: 2px 0px 10px rgb(131, 121, 121);
  transform: scale(1.05);
}

.cards-text a {
  text-decoration: none;
  padding: 0px 5px;
  color: rgb(5, 14, 144);
  cursor: pointer;
}

.right-section {
  
  width: 20%;
}

footer {
  background-color: wheat;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
  .right-section {
    visibility: hidden;
  }

  .main-section {
    width: 60%;
    margin-left: 200px;
  }
  .left-section {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {


  .main-section {
    
    margin-left: 30px;
  }
}



@media only screen and (max-width: 500px) {

  header span {
    
    font-size: 28px;
  }

  header a {
  
    
    font-size: 18px;
  }
  
}
