.contact-form {

  position: absolute;
  top: 200px;
  left: 550px;
  border: 2px solid wheat;
  padding: 20px;
  border-radius: 5px ;
  box-shadow: 3px 3px 10px black;
  transition: all ease 0.5s;
  width: 400px;
  height: 300px;
    
}



.contact-form:hover{
    box-shadow: 3px 3px 10px rgb(160, 49, 49);
    
}


.contact-form input:hover{
    box-shadow: 3px 3px 10px rgb(160, 49, 49);
    
}


.contact-form textarea:hover{
    box-shadow: 3px 3px 10px rgb(160, 49, 49);
    
}


.contact-form label {   

    font-size: 18px;


}

.contact-form input{
    margin-left: 50px;
    border: 2px solid wheat;
    box-shadow: 3px 3px 10px black;
    width: 250px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.1;
 
   

}


.contact-form textarea {


    width: 265px;
    height: 200px;
    font-size: 16px;
    position: absolute;
    margin-left: 10px ;
    margin-top: 10px;
    opacity: 0.2;
   
    border: 2px solid wheat;
    box-shadow: 3px 3px 10px black;
}

.contact-form button {


    background-color: wheat ;
    box-shadow: 3px 3px 10px black;
    font-size: large;
    position: relative;
    top: 220px;
    left: 250px;


}