nav {
  display: flex;
  background-color: rgb(4, 4, 4);
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: rgb(192,196,192 );
  font-size: 22px;
  transition: all 0.1s ease-in;
}

nav a:hover {
  text-shadow: 4px 4px 10px rgb(74,117,41);
}

nav input {
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid rgb(74,117,41);
  background-color: rgb(4, 4, 4);
  color: antiquewhite;
}

nav input:hover {
  box-shadow: 2px 2px 10px rgb(74,117,41);
}

nav button {
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid rgb(74,117,41);
  background-color: rgb(4, 4, 4);
  color: rgb(192,196,192 );
  margin-left: 5px;
  cursor: pointer;
}

nav button:hover {
  box-shadow: 2px 2px 10px rgb(74,117,41);
}

.left-nav {
  width: 50%;
}

.right-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end ;
  margin-right: 10px;
  align-items: center;
}
