h1 {
  text-align: center;
}

label {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 1px solid blue;
  border-radius: 10px;
  margin: 5px 0;
  width: 400px;
  padding: 10px 15px;
}

input:hover {
  border: 1px solid green;
  width: 410px;
}

.btn-login {
  width: 100px;
  height: 50px;
  font-size: 18px;
  border: 1px solid green;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  position: absolute;
  right: 660px;
}

.btn-register {
  width: 100px;
  height: 50px;
  font-size: 18px;
  border: 1px solid green;
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  position: absolute;
  right: 555px;
}

.btn-register:hover {
  cursor: pointer;
  background-color: antiquewhite;
  color: black;
}

.btn-login:hover {
  cursor: pointer;
  background-color: antiquewhite;
  color: black;
}

.form {
  width: 30%;
  margin: auto;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 30px;
  height: 550px;
}
